.navbar {
  display: flex;
  color: white;
  padding: 10px;
  padding-left: 20px;
  font-size: small;
  overflow-x: scroll;
}

.navbar > h2 {
  cursor: pointer;
  font-weight: 400;
  margin-right: 30px;
  margin-left: 30px;
  opacity: 0.7;
  padding-right: 40px;
  transition: transform 50ms ease-out;
}

.navbar > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
